
.open-button {
     padding: 4px 12px;
    color: white;
    background-color: #b81375 ;
     border: none;
     border-radius: 4px;
     text-decoration: none;
   }

   .back-button {
    padding: 4px 12px;
    color: white;
    background-color: #b81375 ;
    border: none;
    border-radius: 4px;
  }

  .important{
    font-weight: bold;
    text-align: center;
    align-items: center;
  }

  .description {
    font-weight: lighter;
    text-align: center;
  }