  .title{
    text-align: center;
    align-items: center;
  }

  .description.card-text {
    font-weight: lighter;
    text-align: center;
  text-align: center;
  }

  .content{
    margin-top: 30px;
}

// .card{
//   height: 650px;
//   text-align: center;

// }