.fav-btn {
    padding: 4px 12px;
    color: #041615;
    background-color: #ccb337 ;
    border: none;
    border-radius: 4px;
  }
  .fav-btn:hover{

    color: white;
    background-color: #937b19 ;
  }


.cardset {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

  .labeltitle{
    font-weight: bold;
    margin-bottom: 25px;
    padding: 10px;
    
  }

  .description {
    font-weight: lighter;
    text-align: left;
  }


// .cardimage {
//   width: 500px;
//   height: 700px;
// }

.fav-btn{
  width: 100%;
}

.title {
  padding: 15px;
  font-size: 25px;
  float:center;
}

.content{
  margin-top: 100px;
}